{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" width="32" height="32" src="{% static 'images/icons/bezier.svg' %}"/>
            <span class="fs-4">Facereco</span>
        </a>
        <ul class="nav col-2 col-md-auto mb-2 justify-content-center mb-md-0">
            <li class="nav-item"><a href="{% url 'recognize' %}" class="nav-link active">Recognition Faces</a></li>
            <li class="nav-item"><a href="{% url 'detection' %}" class="nav-link">Detection Faces</a></li>
        </ul>
    </header>