{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
<div class="container">
    <header class="p-3 mb-3 border-bottom align-items-center justify-content-center ">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center">
                <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
                    <img class="bi me-2" width="32" height="32" src="{% static 'images/icons/bezier.svg' %}"/>
                </a>
                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                  {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'recognize' %}" class="nav-link px-2 link-dark">Розпізнання обличчя</a></li>
                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link px-2 link-dark">Profile</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link px-2 link-dark">Log Out</a></li>
                  {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link px-2 link-dark">Log In</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link px-2 link-dark">Register</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </header>
</div>